SPRING_PROFILES_ACTIVE=docker

MONGODB_URI=you_mongodb_uri

KAFKA_BOOTSTRAP_SERVERS=kafka:29092

RANDOM_API_URL=https://random.org/integers?num=1&min=1&max=100&col=1&base=10&format=plain

JWT_SECRET=jwt_secret
